.slide-img{
  height: 18rem;
  object-fit: cover;
  border-radius: 16px;
}


.bg-121212{
  background-color: rgba(18, 18, 18, 0.12);
}

.br-16{
  border-radius: 16px;
}


.config-btn {
  bottom:  10%;
  left: 6rem;
}

.fab-btn{ 
  background-color: white;
  color: #002021;
}