.close-btn {
  border: 1px solid #BA1A1A !important;
  color: #BA1A1A !important;
  background-color: transparent;
  transition: 0.5s;

  &:hover {
    background-color: #BA1A1A !important;
    color: white !important;
  }
}


.my-dialog-title{
  color: #2C6C1E;
}

.my-dialog{
  padding: 16px;
}
