<div class="card-item d-flex align-items-center justify-content-between p-3 rounded-4 mb-4">
    <div>
        <div>
            <ngx-skeleton-loader [theme]="{height: '15px', width: '200px'}" count="1" appearance="line"></ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader [theme]="{height: '15px', width: '150px'}" count="1" appearance="line"></ngx-skeleton-loader>
        </div>
    </div>
    <div>
       <div class="d-flex flex-column">
            <ngx-skeleton-loader  class="mb-0" [theme]="{height: '15px', width: '15px'}" count="1" appearance="circle"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{height: '15px', width: '15px'}" count="1" appearance="circle"></ngx-skeleton-loader>
       </div>
       
    </div>
</div>