<mat-dialog-content>
  <div class="my-dialog">
    <h4 class="my-dialog-title text-center">{{diagTitle}}</h4>

    <div class="alert alert-danger" *ngIf="hasError">
      {{errorMessage}}
    </div>
    <!--  form-->
    <div class="mt-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input matInput placeholder="name of web service" formControlName="webServiceName">
          <mat-error *ngIf="form.controls['webServiceName']?.hasError('required')">Required field</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <input matInput placeholder="response node name" formControlName="webServiceClassName">
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-select formControlName="equipment" placeholder="equipment">
            <mat-option value="HLR">HLR</mat-option>
            <mat-option value="IN">IN</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['equipment']?.hasError('required')">Required field</mat-error>
        </mat-form-field>

        <div class="mb-4">
          <label class="form-label">Template</label>
          <div style="height: 150px !important; width: 100% !important;">
            <ngx-monaco-editor style="height: 100%; padding: 14px; border: 1px solid #d9d9d9; border-radius: 12px;"
                               [options]="editorOptions" formControlName="template"></ngx-monaco-editor>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center" *ngIf="!isLoading">
          <button mat-flat-button color="primary" class="rounded-5 p-4 close-btn me-4" type="button"
                  (click)="onClose()">Close
          </button>
          <button mat-flat-button color="primary" class="rounded-5 p-4" type="submit">Save</button>
        </div>

        <div class="d-flex justify-content-center" *ngIf="isLoading">
          <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
        </div>

      </form>
    </div>
  </div>
</mat-dialog-content>
