
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$my-primary: (
  50: #f0f9e9,
  100: #dbeec9,
  200: #c3e3a6,
  300: #abd882,
  400: #98cf66,
  500: #86c74b,
  600: #77b743,
  700: #2C6C1E,
  800: #508e30,
  900: #2c6c1e,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(white, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);


//$client-tpo-manager-primary: mat.define-palette(mat.$indigo-palette);
$client-tpo-manager-primary: mat.define-palette($my-primary, $default: 700);
$client-tpo-manager-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-tpo-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-tpo-manager-theme: mat.define-light-theme((
  color: (
    primary: $client-tpo-manager-primary,
    accent: $client-tpo-manager-accent,
    warn: $client-tpo-manager-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-tpo-manager-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-primary {
  color: #2C6C1E !important;
}


.c-pointer{
  cursor: pointer;
}

.tpo-item {
  cursor: pointer;
  background-color: #F5F5F5;
  border-radius: 16px;
  transition: 0.4s;

  &-title {
    color: #002021;
  }

  &:hover {
    background-color: #e8e8e8;
  }

  &-verb {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    min-width: 4rem;
    min-height: 4rem;

    &-1 {
      background-color: #AEF596;
    }

    &-2 {
      background-color: #BCEBEE;
    }

    &-3 {
      background-color: #FFDAD6;
    }
  }
}

.danger-bar {
  width: 5px;
  background-color: #FFDAD6;
  height: 50%;
  top: 25%;
}

.text-danger-custom {
  color: #BA1A1A;
}

.close-btn {
  border: 1px solid #BA1A1A !important;
  color: #BA1A1A !important;
  background-color: transparent !important;
  transition: 0.5s;

  &:hover {
    background-color: #BA1A1A !important;
    color: white !important;
  }
}


.my-dialog-title{
  color: #2C6C1E;
}

.my-dialog{
  padding: 16px;
}

/* Style de la scrollbar pour mat-dialog-content */
mat-dialog-content::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar verticale */
  height: 8px; /* Hauteur de la scrollbar horizontale */
}

mat-dialog-content::-webkit-scrollbar-thumb {
  background: #888; /* Couleur du "pouce" (la partie déplaçable de la scrollbar) */
  border-radius: 4px; /* Bordures arrondies du pouce */
}

mat-dialog-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur du pouce au survol */
}

mat-dialog-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Couleur de la piste (la partie fixe de la scrollbar) */
  border-radius: 4px; /* Bordures arrondies de la piste */
}

mat-dialog-content::-webkit-scrollbar-track:hover {
  background: #e1e1e1; /* Couleur de la piste au survol */
}



.wo-class{
  background-color: rgba(174, 245, 150, 0.5);
  &-title {
    color: #2C6C1E;
  }
  &-name {
    color: #002021;
  }
  &-direction{
    //width: 11.12%;
  }
}

.wo-class-2{
  background-color: rgba(255, 218, 214, 0.5);
  &-title {
    color: #BA1A1A;
  }
  &-name {
    color: #002021;
  }
  &-direction{
    //width: 11.12%;
  }
}


.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #D6FACA;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
